{% extends 'base.html.twig' %}
{% block body %}

    <table>

        <thead>
        <tr>
            <th colspan="3">Channel</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Num</th>
            <th>name</th>
            <th>Creation date</th>
        </tr>
        {% for channel in Channel %}
        <tr>
            <td>{{ channel.num }}</td>
            <td>{{ channel.name }}</td>
            <td> {#{{channel.CreationDate}}#}</td>
            {% endfor %}
        </tr>

        </tbody>
    </table>



{% endblock %}
